<div class = "container">
 <h4>  <%= current_user.name %>'s Comments </h4>
 <%= pluralize(@user.comments.count, 'comment') %>
<% @comments.each do |comment| %>
<p> <%= comment.body %> posted <%= time_ago_in_words(comment.created_at) %> about #todo: extract out the vendor_name or product name here </p>
<% end %>


</div> 