
<% if is_user? %>
  <% Product.all.each do |product| %>
    <% if @vendor.product_ids.include?(product.id) %>
    <%= link_to image_tag(product.image.url(:thumb)), product %>
    <% end %>
  <% end %>
<% else %>
<p> <%= link_to "Sign in With Linkedin", user_omniauth_authorize_path(:linkedin) %> to see the comprehensive list</p>
  <% Product.take(2).each do |product| %>
    <% if @vendor.product_ids.include?(product.id) %>
      <%= link_to image_tag(product.image.url(:thumb)), product %>
    <% end %>
  <% end %> 
<% end %>