// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
  margin: 0 auto;
}

#brand-head {
  text-align: left;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.btn-wrapper{
  text-align: center;
  margin-top: 2%;
}

.content{
  margin-top: 3%;
}

#bunnotice {
  text-align: center;
  color: #E625B5;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5%;
}

.show {
  text-align: center;
}

.show-container {
  text-align: center;
  margin-top: 5%;
}

#home-fun {
  text-align: center;
}

