
<!-- test -->
<%= form_for @product, html: {multipart: true} do |f| %>

  <div class="field">

    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "add yo bun"%>
  </div>
<% end %>
