<% if is_user? %>
  <% Vendor.all.each do |vendor| %>
    <% if @product.vendor_ids.include?(vendor.id) %>
    <%= link_to image_tag(vendor.image.url(:thumb)), vendor %>
    <% end %>
  <% end %>
<% else %>
    <% Vendor.take(2).each do |vendor| %>
      <% if @product.vendor_ids.include?(vendor.id) %>
        <%= link_to image_tag(vendor.image.url(:thumb)), vendor %>
      <% end %>
    <% end %>
        <p> To See the Comprehensive List <%= link_to "Sign In", new_user_session_path %>  / <%= link_to "Sign Up", new_user_registration_path %>  </p>
        <% end %>


