
<% if is_user? %>
  <% Vendor.all.each do |vendor| %>
    <% if @product.vendor_ids.include?(vendor.id) %>
    <%= link_to image_tag(vendor.image.url(:thumb)), vendor %>
    <% end %>
  <% end %>
<% else %>
  <p><%= link_to "Sign in With Linkedin", user_omniauth_authorize_path(:linkedin) %> to see the comprehensive list</p>
    <% Vendor.take(2).each do |vendor| %>
      <% if @product.vendor_ids.include?(vendor.id) %>
        <%= link_to image_tag(vendor.image.url(:thumb)), vendor %> 
      <% end %>
    <% end %>
<% end %>


