<p> Todo:  get join table to save and only show vendors that belong to the list</p>

<% Vendor.all.each do |vendor| %>
    <%= link_to image_tag(vendor.image.url(:thumb)), vendor %>
<% end %>

<% @product.vendors.each do |vendor| %>
<%= link_to image_tag(vendor.image.url(:thumb)), vendor %>
<% end %>